/* colors */
body {
	background: #dcdcdc;
	color: #315159;
	}
a {
	color: inherit
}
h1, h2, h3, h4, h5, H6, a, a:hover, a:visited, a:active {
	color: #2e5767;
	}
nav {
	background: #efefef;
	}
.attr-ref {
	color: #600;
}
.attr-ref a {
	color: #315159;
}
.elem-ref a {
	color: #060;
}
.required {
	font-weight: bold;
	}
.required a {
	font-weight: normal;
	}
a:hover {
	text-decoration: underline;
	}
.element:target,
.attribute:target {
	background: #efefef;
	}

